extends layout

block content
  .demo-center-text
    h3 Onfido + Microsoft VC Demo
    p This is a demo implementation of Microsoft's Verifiable Credential using Onfido Identity Verification service as the Credential Issuer
    p For more information: #[a(href='https://onfido.com') Onfido] and #[a(href='https://microsoft.com') Microsoft].