extends layout

block content
  .page-header.header-filter(data-parallax='true' style="background: white")
    .container
      .row
        .col-md-12
          h1 You have reached the Onfido + Microsoft Verifiable Credentials Demo!
          p This application will give you a demo experience of creating validating your identity with Onfido to issue a Microsoft Verifiable Credential.
  .main.main-raised
    .container
      .section
        .features
          .row
            .col-md-12
              p For more information see: onfido.com and microsoft.com