extends layout

block content

h1 You have reached the Onfido + Microsoft Verifiable Credentials Demo!
p This application will give you a demo experience of creating validating your identity with Onfido to issue a Microsoft Verifiable Credential.